@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    
}
main {
    background-color:#c9a2fc ;
    width: 600px;
    padding: 10px;
    margin: auto;
    border-radius: 10px;
    box-shadow:5px 5px 15px #b897b886 ;
}
h1{
    color: #9372f8;
    text-align: center;
    text-shadow: 5px 5px 15px    #6f56bd4f ;
}
h2{
    color: #5d41f5;
}
body {
    background-color:#ffd3ff ;
}
p {
    text-align:justify;
}